@model mvcdemo.Models.Book

@{
    Layout = "~/views/shared/_master.cshtml";
}


<h2>Add Book</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <label>Title</label> <br />
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
        <p></p>

        <label>Price</label> <br />
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
        <p></p>

        <label>Subject </label> <br />
        @Html.EditorFor(model => model.Subject)
        @Html.ValidationMessageFor(model => model.Subject)
        <p></p>
        <input type="submit" value="Add Book" />
}

@section myscripts {
    @Scripts.Render("~/bundles/jqueryval")
}
